@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*

Z-INDEX:

header: 1000


*/

:root {
    --main: #080808;
    --bright: #f0fff0;
    --option1: #56B259;
    --option2: #184D47;
    --option3: #133A1B;
    --option4: #023020;
    --option5: #11251a;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--option1);
}

h1, h2 {
    font-weight: normal;
}

.main-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;

    scrollbar-width: none;
    -ms-overflow-style: none;

    user-select: none;
}

.stopScroll {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display:none;
}

.horizontal-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-color: var(--bright);
}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: var(--option1);
}

.inner-wrapper {
    width: 100vw;
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.removeCenter {
    justify-content: flex-start;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
}


/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    border-bottom: 2px solid var(--option1);
    color: var(--option1);
    z-index: 1000;
    transition: width 3s;
    /* background-color: var(--main); */
}

.headerContent {
    padding: 3px 41px;
    width: 100%;
    height: 100%;
    position: relative;
}

.full {
    width: 100%;
}

.headerTitle {
    position: relative;
    width: fit-content;
    font-size: 1.8rem;
}

/* PAGES */
.firstPage, .thirdPage, .fifthPage {
    background-color: var(--main);
}


/* OBJECTS */

.mainTitleContainer {
    position: relative;
    display: none;
    animation: toHeader 3s 4s forwards;
    -webkit-animation: toHeader 3s 4s forwards;
    /* sešteti vrednosti sekund sta animationDuration v intro.js */
}

.displayBlock {
    display: block!important;
}

.mainTitle {
    width: 610px;
    font-size: 6rem;
    text-transform: uppercase;
    animation: typing 1s steps(9) forwards, blink 500ms step-end infinite alternate;
    -webkit-animation: typing 1s steps(9) forwards, blink 500ms step-end infinite alternate;
    border-right: 5px solid var(--option1);
    white-space: nowrap;
    overflow: hidden;
}

.submainTitle {
    position: absolute;
    visibility: hidden;
    left: 0;
    font-size: 2rem;
    animation: typingS 1s 1s steps(13) forwards, blink 500ms step-end infinite alternate;
    -webkit-animation: typingS 1s 1s steps(13) forwards, blink 500ms step-end infinite alternate;
    width: 600px;
    border-right: 3px solid var(--option1);
    white-space: nowrap;
    overflow: hidden;
}

.flyingObject {
    position: absolute;
    z-index: 0;
}

.firstObject {
    height: 30px;
    width: 50px;
    background-color: var(--option1);
}

.secondObject {
    height: 70px;
    width: 40px;
    background-color: var(--option1);
}

.thirdObject {
    height: 60px;
    width: 60px;
    background-color: var(--option1);
}

/* MAIN BOXES */

.mainBoxesContainer {
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 8s;
    text-align: center;
}

.mainBoxesContainer.show {
    width: unset;
    opacity: 1;
}

.mainBox {
    width: 200px;
    height: 300px;
    border: solid 1px var(--option1);
    margin: 20px;
}

/* ANIMATIONS */

@-webkit-keyframes typing {
    from {
        width: 0;
    }
    to {
        border: none;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        border: none;
    }
}

@-webkit-keyframes typingS {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}

@keyframes typingS {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes toHeader {
    100% {
        transform: translate(calc(-50vw + 113px), -47.5vh) scale(0.25);
    }
}

@keyframes toHeader {
    100% {
        transform: translate(calc(-50vw + 113px), -47.5vh) scale(0.25);
    }
}

/* MOBILE STYLES */

@media only screen and (max-width: 720px) {
    .mainTitle {
        font-size: 3rem;
        width: 305px;
    }

    .submainTitle {
        font-size: 1rem;
        width: 300px;
    }

    @-webkit-keyframes toHeader {
        100% {
            transform: translate(calc(-50vw + 113px), -47.5vh) scale(0.25);
        }
    }

    @keyframes toHeader {
        100% {
            transform: translate(calc(-50vw + 113px), -47.5vh) scale(0.5);
        }
    }
  }